<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ForceHttps" value ="false"/>
  
	<add key="EmailReminder.FromAddress" value="name@server.net" />
	<!-- NetSpell directory -->
	<add key="DictionaryFolder" value="/sitecore/shell/controls/rich text editor/Dictionaries/" />
	<add key="Lucene.Net.FSDirectory.class" value="Sitecore.Search.FSDirectory, Sitecore.Kernel" />


	<!-- SitemapXML -->
	<add key="SITEMAP_OutPutRobots_txt" value="1"/>
	<add key="SITEMAP_MAX_URLS" value="50000"/>

	<!-- View Paths -->

  <add key="ViewPath_ScriptModule" value="/Areas/Symmons/Views/Renderings/Modules/Callouts/ScriptModule.cshtml" />
	<add key="ViewPath_Header" value="/Areas/Symmons/Views/Renderings/Global/Header/Header.cshtml"/>
	<add key="ViewPath_ContentHeader" value="/Areas/Symmons/Views/Renderings/Global/Header/ContentHeader.cshtml"/>
	<add key="ViewPath_UtilityLinks" value="/Areas/Symmons/Views/Renderings/Global/Header/UtilityLinks.cshtml"/>
	<add key="ViewPath_PrimaryNavigation" value="/Areas/Symmons/Views/Renderings/Global/Header/PrimaryNavigation.cshtml"/>
	<add key="ViewPath_Footer" value="/Areas/Symmons/Views/Renderings/Global/Footer/Footer.cshtml"/>
	<add key="ViewPath_FooterNavigation" value="/Areas/Symmons/Views/Renderings/Global/Footer/FooterNavigation.cshtml"/>
	<add key="ViewPath_HeaderIncludesPartial" value="/Areas/Symmons/Views/Renderings/_Partials/_HeaderIncludes.cshtml"/>
	<add key="ViewPath_FooterIncludesPartial" value="/Areas/Symmons/Views/Renderings/_Partials/_FooterIncludes.cshtml"/>
	<add key="ViewPath_Breadcrumb" value="/Areas/Symmons/Views/Renderings/Global/Breadcrumb.cshtml"/>
	<add key="ViewPath_SocialMediaConnect" value="/Areas/Symmons/Views/Renderings/Modules/Callouts/SocialMedia.cshtml"/>
	<add key="ViewPath_ContactInfoCallout" value="/Areas/Symmons/Views/Renderings/Modules/Callouts/ContactInfo.cshtml"/>
	<add key="ViewPath_FeaturedNews" value="/Areas/Symmons/Views/Renderings/Modules/Callouts/NewsandEvents/FeaturedNews.cshtml"/>
	<add key="ViewPath_UpcomingEvents" value="/Areas/Symmons/Views/Renderings/Modules/Callouts/NewsandEvents/UpcomingEvents.cshtml"/>
	<add key="ViewPath_RecentNews" value="/Areas/Symmons/Views/Renderings/Modules/Callouts/NewsandEvents/RecentNews.cshtml"/>
	<add key="ViewPath_RichTextCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/RichTextCallout.cshtml"/>
	<add key="ViewPath_ImageCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/ImageCallout.cshtml"/>
	<add key="ViewPath_ShareThisCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/ShareThis.cshtml"/>
	<add key="ViewPath_LatestVideosCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/LatestVideos.cshtml"/>
	<add key="ViewPath_MapCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/MapCallout.cshtml"/>
	<add key="ViewPath_NewsDetails" value="/Areas/Symmons/Views/Renderings/Pages/News and Events/News.cshtml"/>
	<add key="ViewPath_EventsDetails" value="/Areas/Symmons/Views/Renderings/Pages/News and Events/Events.cshtml"/>
	<add key="ViewPath_GenericListing" value="/Areas/Symmons/Views/Renderings/Modules/Global/GenericListing.cshtml"/>
	<add key="ViewPath_NewsListing" value="/Areas/Symmons/Views/Renderings/Modules/Global/NewsListing.cshtml"/>
	<add key="ViewPath_EventsListing" value="/Areas/Symmons/Views/Renderings/Modules/Global/EventsListing.cshtml"/>
	<add key="ViewPath_ProductDetails" value="~/Areas/Symmons/Views/Renderings/Pages/Products/Symmon Product Details/Products.cshtml"/>
	<add key="ViewPath_ProductSpecialAttribute" value="~/Areas/Symmons/Views/Renderings/Modules/Products/SpecialAttributes.cshtml"/>
	<add key="ViewPath_ProductSmartAttribute" value="~/Areas/Symmons/Views/Renderings/Modules/Products/SmartAttributes.cshtml"/>
	<add key="ViewPath_DocumentsAndDownloads" value="~/Areas/Symmons/Views/Renderings/Modules/Products/DocumentsAndDownloads.cshtml" />
	<add key="ViewPath_ProductFeatures" value="~/Areas/Symmons/Views/Renderings/Modules/Products/ProductFeatures.cshtml" />
	<add key="ViewPath_ProductCollection" value="~/Areas/Symmons/Views/Renderings/Modules/Products/ProductCollection.cshtml" />
	<add key="ViewPath_ProductPrice" value="~/Areas/Symmons/Views/Renderings/Modules/Products/ProductPrice.cshtml" />
	<add key="ViewPath_ProductDimensions" value="~/Areas/Symmons/Views/Renderings/Modules/Products/ProductDimensions.cshtml" />
	<add key="ViewPath_ProductInteractiveTour" value="~/Areas/Symmons/Views/Renderings/Modules/Products/ProductInteractiveTour.cshtml" />
	<add key="ViewPath_Support" value="~/Areas/Symmons/Views/Renderings/Modules/Products/Support.cshtml" />
	<add key="ViewPath_ProductList" value="~/Areas/Symmons/Views/Renderings/Modules/Products/ProductList.cshtml" />
	<add key="ViewPath_SymmonsGeneric" value="/Areas/Symmons/Views/Renderings/Pages/Global/SymmonsGeneric.cshtml"/>
	<add key="ViewPath_SymmonsError" value="/Areas/Symmons/Views/Renderings/Pages/Global/SymmonsError.cshtml"/>
	<add key="ViewPath_ProductsBrowse" value="/Areas/Symmons/Views/Renderings/Pages/Products/Symmon Product Browse/ProductsBrowse.cshtml"/>
	<add key="ViewPath_ProductCompare" value="/Areas/Symmons/Views/Renderings/Pages/Products/Symmon Product Browse/ProductCompare.cshtml"/>
	<add key="ViewPath_SEO" value="/Areas/Symmons/Views/Renderings/Global/SEOMetadata.cshtml"/>
	<add key="ViewPath_CompareProductModals" value="~/Areas/Symmons/Views/Renderings/Global/CompareProductModals.cshtml"/>
	<add key="ViewPath_CompareProductFooterModals" value="~/Areas/Symmons/Views/Renderings/Global/CompareProductFooterModal.cshtml"/>
	<add key="ViewPath_GoogleAnalytics" value="~/Areas/Symmons/Views/Renderings/Global/GoogleAnalytics.cshtml"/>
	<add key="ViewPath_PhotoGallery" value="/Areas/Symmons/Views/Renderings/Modules/Products/PhotoGallery.cshtml"/>
	<add key="ViewPath_Pagination" value="/Areas/Symmons/Views/Renderings/Global/PaginationView.cshtml"/>
	<add key="ViewPath_NewsAndEventsListing" value="/Areas/Symmons/Views/Renderings/Pages/News and Events/NewsAndEvents.cshtml"/>
	<add key="ViewPath_SuperCategoryDetails" value="/Areas/Symmons/Views/Renderings/Pages/Products/Symmon Supercategory/SuperCategory.cshtml"/>
	<add key="ViewPath_HeroSlider" value="/Areas/Symmons/Views/Renderings/Modules/HomePage/HeroSlider.cshtml"/>
	<add key="ViewPath_StyleHeroSlider" value="/Areas/Symmons/Views/Renderings/Modules/HomePage/StyleHeroSlider.cshtml"/>
	<add key="ViewPath_HomePage" value="/Areas/Symmons/Views/Renderings/Pages/HomePage/HomePage.cshtml"/>
	<add key="ViewPath_SuperCategoryTabCategory" value="/Areas/Symmons/Views/Renderings/Modules/Products/Super Category/Categories.cshtml"/>
	<add key="ViewPath_SuperCategoryTabStyle" value="/Areas/Symmons/Views/Renderings/Modules/Products/Super Category/Styles.cshtml"/>
	<add key="ViewPath_SuperCategoryTabCollection" value="/Areas/Symmons/Views/Renderings/Modules/Products/Super Category/Collections.cshtml"/>
	<add key="ViewPath_SuperCategoryTabSmartFeatures" value="/Areas/Symmons/Views/Renderings/Modules/Products/Super Category/SmartFeatures.cshtml"/>
	<add key="ViewPath_SuperCategoryTabNewProducts" value="/Areas/Symmons/Views/Renderings/Modules/Products/Super Category/NewProducts.cshtml"/>
	<add key="ViewPath_SuperCategoryAdditionalInfoLinkList" value="/Areas/Symmons/Views/Renderings/Modules/Products/Super Category/AdditionalInfoLinkList.cshtml"/>
	<add key="ViewPath_IconCallout" value="/Areas/Symmons/Views/Renderings/Modules/HomePage/IconCallout.cshtml"/>
	<add key="ViewPath_SymmonsCommercial" value="/Areas/Symmons/Views/Renderings/Modules/HomePage/SymmonsCommercial.cshtml"/>
	<add key="ViewPath_SymmonsForHome" value="/Areas/Symmons/Views/Renderings/Modules/HomePage/SymmonsForHome.cshtml"/>
	<add key="ViewPath_CSF" value="/Areas/Symmons/Views/Renderings/Pages/Products/Symmons Collection Style Features/CollectionStyleFeature.cshtml"/>
	<add key="ViewPath_CategoryCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/Products/CategoryCallout.cshtml"/>
	<add key="ViewPath_CollectionCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/Products/CollectionCallout.cshtml"/>
	<add key="ViewPath_FamilyCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/Products/FamilyCallout.cshtml"/>
	<add key="ViewPath_PrimaryNavCommercial" value="~/Areas/Symmons/Views/Renderings/Global/Header/Primary Navigation/PrimaryNavCommercial.cshtml"/>
  <add key="ViewPath_PrimaryDesignStudio" value="~/Areas/Symmons/Views/Renderings/Global/Header/Primary Navigation/PrimaryNavDesignStudio.cshtml"/>
  <add key="ViewPath_PrimaryTemptrol" value="~/Areas/Symmons/Views/Renderings/Global/Header/Primary Navigation/PrimaryNavTemptrol.cshtml"/>
	<add key="ViewPath_PrimaryNavBath" value="~/Areas/Symmons/Views/Renderings/Global/Header/Primary Navigation/PrimaryNavBath.cshtml"/>
	<add key="ViewPath_PrimaryNavKitchen" value="~/Areas/Symmons/Views/Renderings/Global/Header/Primary Navigation/PrimaryNavKitchen.cshtml"/>
	<add key="ViewPath_CollectionLanding" value="~/Areas/Symmons/Views/Renderings/Pages/Products/Symmons Collection Style Features/CollectionLanding.cshtml"/>
	<add key="ViewPath_StyleLanding" value="~/Areas/Symmons/Views/Renderings/Pages/Products/Symmons Collection Style Features/StyleLanding.cshtml"/>
	<add key="ViewPath_FeatureLanding" value="~/Areas/Symmons/Views/Renderings/Pages/Products/Symmons Collection Style Features/FeatureLanding.cshtml"/>
	<add key="ViewPath_ApprovedProductsLanding" value="~/Areas/Symmons/Views/Renderings/Pages/Products/Approved Products/ApprovedProducts.cshtml"/>
	<add key="ViewPath_ApprovedProductsCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/Products/ApprovedProductsCallout.cshtml"/>
	<add key="ViewPath_ApprovedProductsListing" value="/Areas/Symmons/Views/Renderings/Pages/Products/Approved Products/ApprovedProductsListing.cshtml"/>
	<add key="ViewPath_PrimaryNavMobile" value="~/Areas/Symmons/Views/Renderings/Global/Header/Primary Navigation/PrimayNavMobile.cshtml"/>
	<add key="ViewPath_ContentSearch" value="~/Areas/Symmons/Views/Renderings/Pages/Global/ContentSearch.cshtml"/>
	<add key="ViewPath_ProductLibraryCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/ProductLibraryCallout.cshtml"/>
	<add key="ViewPath_WheretoBuyCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/WheretoBuyCallout.cshtml"/>
	<add key="ViewPath_WTBSalesRep" value="~/Areas/Symmons/Views/Renderings/Modules/Where to buy/StoreRepresentatives.cshtml"/>
	<add key="ViewPath_ShopInStore" value="~/Areas/Symmons/Views/Renderings/Modules/Where to buy/ShopInStore.cshtml"/>
	<add key="ViewPath_HybridSearch" value="~/Areas/Symmons/Views/Renderings/Pages/Global/HybridSearch.cshtml"/>
	<add key="ViewPath_FAQ" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/Faqs.cshtml"/>
	<add key="ViewPath_Sitemap" value="~/Areas/Symmons/Views/Renderings/Pages/Global/Sitemap.cshtml"/>
	<add key="ViewPath_WhereToBuy" value="~/Areas/Symmons/Views/Renderings/Pages/Where to buy/WhereToBuy.cshtml"/>
	<add key="ViewPath_WtbProductRetailExclusive" value="~/Areas/Symmons/Views/Renderings/Pages/Where to buy/ProductRetailExclusive.cshtml"/>
	<add key="ViewPath_ShopOnline" value="~/Areas/Symmons/Views/Renderings/Modules/Where to buy/ShopOnline.cshtml"/>
	<add key="ViewPath_DesignStudio" value="~/Areas/Symmons/Views/Renderings/Pages/Design Studio/DesignStudio.cshtml"/>
  <add key="ViewPath_DesignStudioCarousel" value="~/Areas/Symmons/Views/Renderings/Pages/Design Studio/DesignStudioCarousel.cshtml"/>
  <add key="ViewPath_DesignStudioProcesses" value="~/Areas/Symmons/Views/Renderings/Pages/Design Studio/DesignStudioProcesses.cshtml"/>  
	<add key="ViewPath_SymmonsTimelineVideoCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Design Studio/SymmonsDesignVideo.cshtml"/>
	<add key="ViewPath_SymmonsTimelineCallout" value="~/Areas/Symmons/Views/Renderings/Modules/Design Studio/SymmonsTimeline.cshtml"/>
	<add key="ViewPath_DesignFinishes" value="~/Areas/Symmons/Views/Renderings/Modules/Design Studio/DesignFinishes.cshtml"/>
	<add key="ViewPath_DesignStudioProduct" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/GenericRTF.cshtml"/>
	<add key="ViewPath_ContactUsPage" value="~/Areas/Symmons/Views/Renderings/Pages/Contact Us/ContactUs.cshtml"/>
	<add key="ViewPath_GTMScript" value="~/Areas/Symmons/Views/Renderings/Global/GTMScript.cshtml"/>
	<add key="ViewPath_ISSUUScript" value="~/Areas/Symmons/Views/Renderings/Modules/Callouts/ISSUUCallout.cshtml"/>
  <add key="ViewPath_TemptrolValvePage" value="~/Areas/Symmons/Views/Renderings/Pages/Temptrol/Temptrol.cshtml" />

	<!-- Page Ids -->

	<add key="PageId_NewsListing" value="{98B2BE34-4EC2-45B7-AA15-A6BD2DC20E87}"/>
	<add key="PageId_EventsListing" value="{A3372626-5908-4D8F-970C-027C16C79AB4}"/>
	<add key="PageId_NewsandEventsLanding" value="164BDB6F-EA22-46C6-9ECF-F45F68A51753"/>
	<add key="PageId_SiteSettings" value="{05EED727-B6C3-4197-9E47-3EFF5BF73D16}"/>
	<add key="PageId_GalleryListing" value="D4DEB2AD-C620-40CB-84CE-81E72E8B815B"/>
	<add key="PageId_Home" value="{110D559F-DEA5-42EA-9C1C-8A5DF7E70EF9}"/>
	<add key="PageId_ProductBrowse" value="{E0C58589-4406-4657-A68B-5CDC8E99F236}"/>
	<add key="PageId_ProductCompare" value="{A989A11F-787C-49FB-810F-95132C999267}"/>
	<add key="PageId_ProductSectionHome" value="{DB6DFDE9-3B50-489E-BA1E-E7E73D5EE4D8}"/>
	<add key="PageId_ProductSectionCommercial" value="{1D9C6D7F-00F2-4ACD-8C42-FFF33EE2DAF5}"/>
	<add key="PageId_PrimaryNavCommercial" value="{E8AF373D-F676-4E4D-8F43-A0D05C4298B2}"/>
  <add key="PageId_PrimaryDesignStudio" value="{E5A7D8A7-5E55-4D03-9DC4-A81CB4D7A41A}"/>  
  <add key="PageId_PrimaryTemptrol" value="{9AA35476-F806-4930-94FD-2A5965AA7C59}"/>  
  <add key="PageId_PrimaryNavBath" value="{DD0B91E7-FB6D-4976-AB2B-CF6A6E869E70}"/>
	<add key="PageId_PrimaryNavKitchen" value="{C792991C-CB5E-4B12-A8C2-05B22CFCF652}"/>
	<add key="PageId_PrimaryNavSymmonsForHome" value="{C201D118-9F9F-48D0-848E-B3EB83F62877}"/>
	<add key="PageId_PrimaryNavCustomSolutions" value="{E5A7D8A7-5E55-4D03-9DC4-A81CB4D7A41A}"/>
	<add key="PageId_GlobalFilters" value="{51FC968B-11CB-4458-813A-C3BA6E9C17A4}"/>
	<add key="PageId_ErrorPage" value="{28604D71-A302-45F9-A8A3-33C72E5ADE7B}"/>
	<add key="PageId_HybridSearchPage" value="{041E5E47-A12B-48D9-AEBC-C70664C3DDC0}"/>
	<add key="PageId_ContentSearchPage" value="{73955E69-902C-4CFB-9922-167DCC96411D}"/>
	<add key="PageId_Bath" value="{DD0B91E7-FB6D-4976-AB2B-CF6A6E869E70}"/>
	<add key="PageId_Kitchen" value="{C792991C-CB5E-4B12-A8C2-05B22CFCF652}"/>
	<add key="PageId_MediaSymmons" value="{C6F6D976-155D-4750-B345-8FFBE6BC8252}"/>
	<add key="PageId_WhereToBuy" value="{D9F2E746-E534-4EEE-B6EB-322E35C701FE}"/>
	<add key="PageId_RetailExclusivePage" value="{D815603A-F097-428B-8075-2E4826334936}"/>
	<add key="PageId_CustomerSupport" value="{DCB50DCB-5BA4-43CC-91DA-C1741596BF05}"/>
  <add key="PageId_CustomerService" value="{89B81F07-84FB-47B4-9F3F-49032A1CC139}"/>  
	<add key="PageId_ShowroomStore" value="{C6249100-EE15-4FFE-9B6A-F6103BCE4DD5}"/>
	<add key="PageId_WholesaleStore" value="{4DCB8D87-671E-49C4-8384-5A1D9376BF9D}"/>
	<add key="PageId_PartsDistributorsStore" value="{A5883F3D-4493-4F7A-B188-DD7BEE4CE524}"/>
	<add key="PageId_HomeCenterStore" value="{0ACA571B-AD07-405B-9CB8-C9D9C7605EA8}"/>
	<add key="PageId_WtbRetailExclusive" value="{910F3A96-D30A-45F9-96ED-9795BEF596A7}"/>
	<add key="PageId_DesignStudio" value="{E5A7D8A7-5E55-4D03-9DC4-A81CB4D7A41A}"/>
	<add key="CalloutId_ProductLibrary" value="{20F24C13-245E-4C68-A542-BEB18A133B8D}"/>
	<add key="CalloutId_WhereToBuy" value="{FEB526D7-3B1D-4E9A-A71E-F788EA6BC9A8}"/>
	<add key="ItemId_ProductFamilyBath" value="{6B7E9E00-C3F6-4ACE-905E-56FEF4A8C86D}"/>
	<add key="ItemId_ProductFamilyKitchen" value="{A08195A5-0797-406C-991B-B3D97AC88821}"/>
	<add key="ItemId_WhereToBuyStoreType" value="{E520632F-81CD-4B25-944B-F2F2629FEDB8}"/>
	<add key="PageId_AnyFinishData" value="{357ACEF7-79F4-4848-9951-C1E9FCD63B35}"/>
	<add key="PageId_ChromeFinish" value="{1249EE33-EFD8-4845-81D3-502DB7875394}"/>
	<add key="PageId_DesignStudioProductBrowse" value="{01B87382-EF4D-470D-BDD9-EEC382E74D63}"/>
	<add key="PageId_ContactUsPage" value="{ADCDD09E-9B84-4A51-8B97-2EDF682E5FC7}"/>
	<add key="PageId_ContactUsSuccessPage" value="{1D8611C8-8EE7-447F-9D45-84857271DF94}"/>
	<add key="PageId_DesignStudioContactUsSuccessPage" value="{D3E7A335-B784-4198-95D8-84C11F1D5979}"/>
	<add key="PageId_CanadaStoresLocation" value="{B6DB6989-C661-4AC3-A8A8-661AC0113780}"/>
	<add key="PageId_LegacyBathroomProductLocation" value="{77DC81BF-46D9-459B-AF1B-0A696C843BC4}"/>
	<add key="ItemId_BlankCanvas" value="{5B135BD3-D510-4783-B21F-03E087554CB3}"/>
	<add key="ItemId_FreeForm" value="{613E4788-D94D-44E8-8CAE-241CEC4FEF4C}"/>
  <add key="PageId_PrimaryCommercial" value="{3472197C-7E41-4656-BB55-086E233974A7}"/>
  <add key="PageId_PrimaryOriginsCollection" value="{9B09E5D1-0039-40FA-8660-1B8668CE13E8}"/>

	<!-- Item Ids -->
	<add key="ItemId_ResidentialSegment" value="3210B0F7-A0CA-4DF3-A16D-D60698ABF170"/>
	<add key="ItemId_RedirectType301" value="89253061-3EC2-49B9-9C4B-48494532B7B3"/>
  <add key="ItemId_ProductCollectionDuro" value="{E4FEA21C-A3CF-41FC-9E70-1C351DC3947D}" />
  <add key="ItemId_ProductCollectionDia" value="{E4608DFB-1E39-481C-802B-2C65B764F016}" />

	<!-- Constants -->
	<add key="GalleryClass_Horizontal" value="horizontal"/>
	<add key="GalleryClass_Vertical" value="vertical"/>
	<add key="Constant_Video" value="video"/>
	<add key="Constant_Image" value="image"/>
	<add key="Constant_VideoCount" value="4"/>
	<add key="Constant_GlobalPageSize" value="12"/>
	<add key="Constant_ProductsUrl" value="/product/"/>
	<add key="Constant_SortByNew" value="New"/>
	<add key="Constant_SortByHigh" value="High"/>
	<add key="Constant_SortByLow" value="Low"/>
	<add key="Constant_Abbreviation" value="Abbreviation"/>
	<add key="Constant_StateName" value="State Name"/>
	<add key="Constant_Commercial" value="commericial"/>
	<add key="Constant_Home" value="home"/>
	<add key="Constant_HttpProtocol" value="http://"/>
	<add key="Constant_PageTitleLimitHover" value="17"/>
	<add key="Constant_PageTeaserLimitHover" value="150"/>
	<add key="Constant_ProductDocumentExtension" value="Extension"/>
	<add key="Constant_StoreRadius" value="50"/>
	<add key="Constant_MaximumLength20" value="20"/>
	<add key="Constant_MaximumLength140" value="140"/>
	<add key="Constant_FreeGeoIP" value="https://freegeoip.net/xml/"/>
	<add key="Constant_Latitude" value="Latitude"/>
	<add key="Constant_Longitude" value="Longitude"/>
	<add key="Constant_CacheStoresTime" value="15"/>
	<add key="Constant_CaSitePath" value="symmons.ca"/>
	<add key="Constant_CaSiteKey" value="website_ca"/>
	<add key="Constant_DefaultSiteKey" value="website"/>
	<add key="Constant_TestCanadaIpAddress" value="198.245.63.93"/>
	<add key="Constant_PremiumProduct" value="Premium Product"/>
	<add key="Constant_RetailStoreFolderName" value="HOME CENTER"/>
	<add key="Constant_WholesaleStoreFolderName" value="WHOLESALER"/>
	<add key="Constant_ShowroomFolderName" value="SHOWROOM"/>
	<add key="Constant_PartDistributorsFolderName" value="PARTS DISTRIBUTOR"/>
	<add key="Constant_RepresentativesFolderName" value="REPRESENTATIVES"/>
	<add key="Constant_ProductOnAppPrice" value="on app"/>
	<add key="Constant_CountryCodeUSA" value="USA"/>
	<add key="Constant_CountryCodeCanada" value="Canada"/>
	<add key="Constant_DesignStudioContactId" value="mchisholm@symmons.com"/>
	<add key="Constant_WTBExcludedStates" value="HK,PR"/>
	<add key="Constant_SuperCategory" value="superCategory"/>
	<add key="Constant_Kitchen" value="kitchen"/>
	<add key="Constant_Bath" value="bath"/>
	 <add key="DATABASE_Master" value="master"/>

	<!-- TemplateIds -->
	<add key="TemplateId_ProductDetails" value="{F51DE184-E561-43EC-B00D-A9AAFA2A8C2B}"/>
	<add key="TemplateId_ProductFinish" value="{D387AA7C-28BB-4BBA-A5A2-66E9E4279425}"/>
	<add key="TemplateId_Events" value="{E9B219A0-05AB-48DA-AD9D-161F0FB472F4}"/>
	<add key="TemplateId_News" value="{DB1A1CCF-504A-4557-A438-2BBE2ADA7106}"/>
	<add key="TemplateId_GenericPage" value="{41C2E9DB-07B1-4475-B870-D8D9E7893174}"/>
	<add key="TemplateId_SuperCategoryLandingPage" value="{C7F35CA2-3084-498A-93CF-C9E7221914BB}"/>
	<add key="TemplateId_CollectionLandingPage" value="{D94F0F1B-389C-42C6-A029-A07F473DA984}"/>
	<add key="TemplateId_StyleLandingPage" value="{EF3A0418-8A7B-4932-93BD-93899CD53856}"/>
	<add key="TemplateId_FeatureLandingPage" value="{0B442736-55BF-40CD-8AE3-25B19F2FA582}"/>
  <add key="TemplateId_TemptrolPage" value="{9D359B08-80AB-4ED3-A177-F98605ED40B9}"/>
	<add key="TemplateId_SalesRepresntative" value="{65B236E8-4771-4479-80A3-893ECC4300B4}"/>
	<add key="TemplateId_State" value="{30E388E1-43C6-44A6-BA66-1BE60E498BE1}"/>
	<add key="TemplateId_RetailExclusive" value="{73F28C5C-1F83-409F-82BB-6155C92BA6D4}"/>
	<add key="TemplateId_Image" value="{F1828A2C-7E5D-4BBD-98CA-320474871548}"/>
	<add key="TemplateId_Pdf" value="{0603F166-35B8-469F-8123-E8D87BEDC171}"/>
	<add key="TemplateId_File" value="{962B53C4-F93B-4DF9-9821-415C867B8903}"/>
	<add key="TemplateId_Doc" value="{16692733-9A61-45E6-B0D4-4C0C06F8DD3C}"/>
	<add key="TemplateId_Docx" value="{7BB0411F-50CD-4C21-AD8F-1FCDE7C3AFFE}"/>
	<add key="TemplateId_MediaItems" value="{0603F166-35B8-469F-8123-E8D87BEDC171}|{962B53C4-F93B-4DF9-9821-415C867B8903}|{16692733-9A61-45E6-B0D4-4C0C06F8DD3C}|{7BB0411F-50CD-4C21-AD8F-1FCDE7C3AFFE}|{F1828A2C-7E5D-4BBD-98CA-320474871548}"/>
	<add key="TemplateId_ShowroomStores" value="{65416CBB-074A-4942-A1FA-ECBC1C35D658}"/>
	<add key="TemplateId_WholesaleStores" value="{5EA933E4-D376-477A-A2D7-661615D925B6}"/>
	<add key="TemplateId_RetailStores" value="{E3944DC9-2DD2-4E68-8086-D7E617BE1DF5}"/>
	<add key="TemplateId_PartsStores" value="{666115EC-C18C-4E8C-9362-21E3F4BF0C90}"/>
	<add key="TemplateId_DesignStudioProductBrowse" value="{575842EB-BBF2-4360-B0D8-16B513C56C8D}"/>
	<add key="TemplateId_GenericListing" value="{973CED74-0864-4156-B72B-925341967699}"/>
	<add key="TemplateId_LegacyBathroomProducts" value="{2C832C8F-5C83-4562-B0A1-2147D5C9EC63}"/>
	<add key="TemplateId_StoreFolder" value="{5E99EF65-17AC-41C0-AD3B-C11E324E58CD}"/>
	<add key="TemplateId_CommonFolder" value="{A87A00B1-E6DB-45AB-8B54-636FEC3B5523}"/>

	<!-- Indexes -->
	<add key="SearchIndex_Products" value="symmons_products_index"/>
	<add key="SearchIndex_Content" value="symmons_content_index"/>
	<add key="SearchIndex_Media" value="symmons_mediaitem_index"/>
	<add key="SearchIndex_Stores" value="symmons_stores_index"/>
	<add key="SearchIndex_LegacyProducts" value="symmons_legacyproducts_index"/>

	<!-- ViewDatas -->
	<add key="ViewData_NewsAndEventsLandingModel" value="NewsandEventsLandingModel"/>
	<add key="ViewData_EventsListingModel" value="EventsListingModel"/>
	<add key="ViewData_NewsListingModel" value="NewsListingModel"/>

	<!-- Dictionary -->
	<add key="Dictionary_ReadMore" value="Dictionary_ReadMore"/>
	<add key="Dictionary_Posted" value="Dictionary_Posted"/>
	<add key="Dictionary_AllNews" value="Dictionary_AllNews"/>
	<add key="Dictionary_AllEvents" value="Dictionary_AllEvents"/>
	<add key="Dictionary_UpcomingEventsTitle" value="Dictionary_UpcomingEventsTitle"/>
	<add key="Dictionary_RecentNewsTitle" value="Dictionary_RecentNewsTitle"/>
	<add key="Dictionary_ProductModel" value="Dictionary_ProductModel"/>
	<add key="Dictionary_ProductSelectFinish" value="Dictionary_ProductSelectFinish"/>
	<add key="Dictionary_ProductAvailableValves" value="Dictionary_ProductAvailableValves"/>
	<add key="Dictionary_ProductSelectSKU" value="Dictionary_ProductSelectSKU"/>
	<add key="Dictionary_ProductSKU" value="Dictionary_ProductSKU"/>
	<add key="Dictionary_ProductFlowRate" value="Dictionary_ProductFlowRate"/>
	<add key="Dictionary_ProductOther" value="Dictionary_ProductOther"/>
	<add key="Dictionary_ProductTotalPrice" value="Dictionary_ProductTotalPrice"/>
	<add key="Dictionary_ProductAddToComparison" value="Dictionary_ProductAddToComparison"/>
	<add key="Dictionary_ProductAboutThisCollection" value="Dictionary_ProductAboutThisCollection"/>
	<add key="Dictionary_ProductHidePlumbingModificationOptions" value="Dictionary_ProductHidePlumbingModificationOptions"/>
	<add key="Dictionary_ProductShowPlumbingModificationOptions" value="Dictionary_ProductShowPlumbingModificationOptions"/>
	<add key="Dictionary_ProductShowMoreFeatures" value="Dictionary_ProductShowMoreFeatures"/>
	<add key="Dictionary_ProductSpecialFeaturesNote" value="Dictionary_ProductSpecialFeaturesNote"/>
	<add key="Dictionary_NoRecordsFound" value="Dictionary_NoRecordsFound"/>
	<add key="Dictionary_NoSalesRepFound" value="Dictionary_NoSalesRepFound"/>
	<add key="Dictionary_NoStoresResultsFound" value="Dictionary_NoStoresResultsFound"/>
	<add key="Dictionary_ShowDiagram" value="Dictionary_ShowDiagram"/>
	<add key="Dictionary_MoreAboutThisFeature" value="Dictionary_MoreAboutThisFeature"/>
	<add key="Dictionary_MoreAboutThisStyle" value="Dictionary_MoreAboutThisStyle"/>
	<add key="Dictionary_MoreAboutThisCollection" value="Dictionary_MoreAboutThisCollection"/>
	<add key="Dictionary_ProductMoreFromCollection" value="Dictionary_ProductMoreFromCollection"/>
	<add key="Dictionary_ProductCurrency" value="Dictionary_ProductCurrency"/>
	<add key="Dictionary_ProductShowMoreDownloads" value="Dictionary_ProductShowMoreDownloads"/>
	<add key="Dictionary_ProductShowMoreLinks" value="Dictionary_ProductShowMoreLinks"/>
	<add key="Dictionary_ShareThis" value="Dictionary_ShareThis"/>
	<add key="Dictionary_Home" value="Dictionary_Home"/>
	<add key="Dictionary_Commercial" value="Dictionary_Commercial"/>
	<add key="Dictionary_SymmonsHome" value="Dictionary_SymmonsHome"/>
	<add key="Dictionary_SymmonsCommercial" value="Dictionary_SymmonsCommercial"/>
	<add key="Dictionary_Browse" value="Dictionary_Browse"/>
	<add key="Dictionary_BrowseProductsBy" value="Dictionary_BrowseProductsBy"/>
	<add key="Dictionary_Bath" value="Dictionary_Bath"/>
	<add key="Dictionary_Kitchen" value="Dictionary_Kitchen"/>
	<add key="Dictionary_BathProducts" value="Dictionary_BathProducts"/>
	<add key="Dictionary_KitchenProducts" value="Dictionary_KitchenProducts"/>
	<add key="Dictionary_CommercialProducts" value="Dictionary_CommercialProducts"/>
	<add key="Dictionary_Products" value="Dictionary_Products"/>
	<add key="Dictionary_ProductsRefineMobile" value="Dictionary_ProductsRefineMobile"/>
	<add key="Dictionary_ProductsSortBy" value="Dictionary_ProductsSortBy"/>
	<add key="Dictionary_ProductsLowToHigh" value="Dictionary_ProductsLowToHigh"/>
	<add key="Dictionary_ProductsHighToLow" value="Dictionary_ProductsHighToLow"/>
	<add key="Dictionary_ProductsNew" value="Dictionary_ProductsNew"/>
	<add key="Dictionary_ProductsFilters" value="Dictionary_ProductsFilters"/>
	<add key="Dictionary_ProductsRefine" value="Dictionary_ProductsRefine"/>
	<add key="Dictionary_ProductsSearchFilters" value="Dictionary_ProductsSearchFilters"/>
	<add key="Dictionary_ProductsFilterApply" value="Dictionary_ProductsFilterApply"/>
	<add key="Dictionary_ProductsFilterCancel" value="Dictionary_ProductsFilterCancel"/>
	<add key="Dictionary_NoProductsFoundMessage" value="Dictionary_NoProductsFoundMessage"/>
	<add key="Dictionary_ProductsListPrice" value="Dictionary_ProductsListPrice"/>
	<add key="Dictionary_CompareProductsListPrice" value="Dictionary_CompareProductsListPrice"/>
	<add key="Dictionary_SearchProducts" value="Dictionary_SearchProducts"/>
	<add key="Dictionary_Search" value="Dictionary_Search"/>
	<add key="Dictionary_LearnMore" value="Dictionary_LearnMore"/>
	<add key="Dictionary_MaxLength50" value="Dictionary_MaxLength50"/>
	<add key="Dictionary_MaxLength170" value="Dictionary_MaxLength170"/>
	<add key="Dictionary_MaxLength15" value="Dictionary_MaxLength15"/>
	<add key="Dictionary_ApprovedProducts" value="Dictionary_ApprovedProducts"/>
	<add key="Dictionary_Go" value="Dictionary_Go"/>
	<add key="Dictionary_WhereToBuy" value="Dictionary_WhereToBuy"/>
	<add key="Dictionary_NoCategoriesFoundMessage" value="Dictionary_NoCategoriesFoundMessage"/>
	<add key="Dictionary_NoCollectionsFoundMessage" value="Dictionary_NoCollectionsFoundMessage"/>
	<add key="Dictionary_NoStylesFoundMessage" value="Dictionary_NoStylesFoundMessage"/>
	<add key="Dictionary_NoSmartFeaturesFoundMessage" value="Dictionary_NoSmartFeaturesFoundMessage"/>
	<add key="Dictionary_NoNewProductsFoundMessage" value="Dictionary_NoNewProductsFoundMessage"/>
	<add key="Dictionary_InThisFeature" value="Dictionary_InThisFeature"/>
	<add key="Dictionary_InThisStyle" value="Dictionary_InThisStyle"/>
	<add key="Dictionary_InThisCollection" value="Dictionary_InThisCollection"/>
	<add key="Dictionary_PriceRangeLabel" value="Dictionary_PriceRangeLabel"/>
	<add key="Dictionary_FinishesLabel" value="Dictionary_FinishesLabel"/>
	<add key="Dictionary_More" value="Dictionary_More"/>
	<add key="Dictionary_ListPrice" value="Dictionary_ListPrice"/>
	<add key="Dictionary_StarterIdea" value="Dictionary_StarterIdea"/>
	<add key="Dictionary_BrowseProducts"	 value=	"Dictionary_BrowseProducts"	/>
	<add key="Dictionary_Category"	 value=	"Dictionary_Category"	/>
	<add key="Dictionary_Style"	 value=	"Dictionary_Style"	/>
	<add key="Dictionary_Collection"	 value=	"Dictionary_Collection"	/>
	<add key="Dictionary_SmartFeature"	 value=	"Dictionary_SmartFeature"	/>
	<add key="Dictionary_NewProducts"	 value=	"Dictionary_NewProducts"	/>
	<add key="Dictionary_Back"	 value=	"Dictionary_Back"	/>
	<add key="Dictionary_SwipeforPreview"	 value=	"Dictionary_SwipeforPreview"	/>
	<add key="Dictionary_NoProductstoDisplay" value=	"Dictionary_NoProductstoDisplay"	/>
	<add key="Dictionary_ContentResults" value="Dictionary_ContentResults"/>
	<add key="Dictionary_ProductResults" value="Dictionary_ProductResults"/>
	<add key="Dictionary_LoadContentResults" value="Dictionary_LoadContentResults"/>
	<add key="Dictionary_LoadProductResults" value="Dictionary_LoadProductResults"/>
	<add key="Dictionary_CommercialCustomers"	 value=	"Dictionary_CommercialCustomers"	/>
	<add key="Dictionary_CustomerSupport"	 value=	"Dictionary_CustomerSupport"	/>
	<add key="Dictionary_AvailableAtSelectRetailers"	 value=	"Dictionary_AvailableAtSelectRetailers"	/>
	<add key="Dictionary_Menu"	 value=	"Dictionary_Menu"	/>
	<add key="Dictionary_Support"	 value=	"Dictionary_Support"	/>
	<add key="Dictionary_FAQsGenericMessage"	 value=	"Dictionary_FAQsGenericMessage"	/>
	<add key="Dictionary_ShopInStore"	 value=	"Dictionary_ShopInStore"	/>
	<add key="Dictionary_ShopOnline"	 value=	"Dictionary_ShopOnline"	/>
	<add key="Dictionary_FindASalesRep"	 value=	"Dictionary_FindASalesRep"	/>
	<add key="Dictionary_FindLocations"	 value=	"Dictionary_FindLocations"	/>
	<add key="Dictionary_FindLocationsNear"	 value=	"Dictionary_FindLocationsNear"	/>
	<add key="Dictionary_FindLocationsNearStep2"	 value=	"Dictionary_FindLocationsNearStep2"	/>
	<add key="Dictionary_FindLocationsNearStep3"	 value=	"Dictionary_FindLocationsNearStep3"	/>
	<add key="Dictionary_UsePreciseLocation"	 value=	"Dictionary_UsePreciseLocation"	/>
	<add key="Dictionary_CityTownZipcode"	 value=	"Dictionary_CityTownZipcode"	/>
	<add key="Dictionary_IncludeInYourSearch"	 value=	"Dictionary_IncludeInYourSearch"	/>
	<add key="Dictionary_SalesRepsIn" value=	"Dictionary_SalesRepsIn" />
	<add key="Dictionary_CompareProducts" value= "Dictionary_CompareProducts" />
	<add key="Dictionary_Compare" value=	"Dictionary_Compare" />
	<add key="Dictionary_ChooseAnotherProduct" value= "Dictionary_ChooseAnotherProduct" />
	<add key="Dictionary_ChooseAnotherProductDesc" value= "Dictionary_ChooseAnotherProductDesc" />
	<add key="Dictionary_StartComparing" value= "Dictionary_StartComparing" />
	<add key="Dictionary_CompareProductGotIt" value= "Dictionary_CompareProductGotIt" />
	<add key="Dictionary_NewProductCompare" value= "Dictionary_NewProductCompare" />
	<add key="Dictionary_CompareProductsOfSameType" value= "Dictionary_CompareProductsOfSameType" />
	<add key="Dictionary_CompareProductsOfSameTypeDesc" value= "Dictionary_CompareProductsOfSameTypeDesc" />
	<add key="Dictionary_CompareUpToThreeProducts" value= "Dictionary_CompareUpToThreeProducts" />
	<add key="Dictionary_CompareUpToThreeProductsDesc" value= "Dictionary_CompareUpToThreeProductsDesc" />
	<add key="Dictionary_CompareProductAlreadyExists" value= "Dictionary_CompareProductAlreadyExists" />
	<add key="Dictionary_CompareProductAlreadyExistsDesc" value= "Dictionary_CompareProductAlreadyExistsDesc" />
	<add key="Dictionary_DesignStudioCatalogFinishes" value= "Dictionary_DesignStudioCatalogFinishes" />
	<add key="Dictionary_DesignStudioCatalogFinish" value= "Dictionary_DesignStudioCatalogFinish" />
	<add key="Dictionary_DesignStudioLeadTime" value= "Dictionary_DesignStudioLeadTime" />
	<add key="Dictionary_DesignStudioUniquesnessofDesign" value= "Dictionary_DesignStudioUniquesnessofDesign" />
	<add key="Dictionary_DesignStudioMinimumOrderQuantity" value= "Dictionary_DesignStudioMinimumOrderQuantity" />
	<add key="Dictionary_DesignStudioFinishes" value= "Dictionary_DesignStudioFinishes" />
	<add key="Dictionary_DirectionsTitle" value= "Dictionary_DirectionsTitle" />
	<add key="Dictionary_MoreLocation" value= "Dictionary_MoreLocation" />
	<add key="Dictionary_MoreLike" value= "Dictionary_MoreLike" />
	<add key="Dictionary_DirectionsLink" value= "Dictionary_DirectionsLink" />
	<add key="Dictionary_LocationsNear" value= "Dictionary_LocationsNear" />
	<add key="Dictionary_NoOnlineStoresFound" value= "Dictionary_NoOnlineStoresFound" />
	<add key="Dictionary_ModifyYourSearch" value= "Dictionary_ModifyYourSearch" />
	<add key="Dictionary_NoLocationEntered" value= "Dictionary_NoLocationEntered" />
	<add key="Dictionary_NoStoresSelected" value= "Dictionary_NoStoresSelected" />
	<add key="Dictionary_ShowMore" value= "Dictionary_ShowMore" />
	<add key="Dictionary_ShowLess" value= "Dictionary_ShowLess" />
	<add key="Dictionary_AvailableFinishes" value= "Dictionary_AvailableFinishes" />
	<add key="Dictionary_Anyfinish" value= "Dictionary_Anyfinish" />
	<add key="Dictionary_Polishedchromefinish" value= "Dictionary_Polishedchromefinish" />
	<add key="Dictionary_WhereToBuyNoResults" value= "Dictionary_WhereToBuyNoResults" />
	<add key="Dictionary_ContactSymmons" value= "Dictionary_ContactSymmons" />
	<add key="Dictionary_ReadyToStart" value= "Dictionary_ReadyToStart" />
	<add key="Dictionary_FirstNameLabel" value= "Dictionary_FirstNameLabel" />
	<add key="Dictionary_LastNameLabel" value= "Dictionary_LastNameLabel" />
	<add key="Dictionary_EmailLabel" value= "Dictionary_EmailLabel" />
	<add key="Dictionary_PhoneNoLabel" value= "Dictionary_PhoneNoLabel" />
	<add key="Dictionary_ContactUsMessageLabel" value= "Dictionary_ContactUsMessageLabel" />
	<add key="Dictionary_ContactUsHelpTextLabel" value= "Dictionary_ContactUsHelpTextLabel" />
	<add key="Dictionary_AttachPhotoLabel" value= "Dictionary_AttachPhotoLabel" />
	<add key="Dictionary_BrowseLabel" value= "Dictionary_BrowseLabel" />
	<add key="Dictionary_AddAnotherFileLabel" value= "Dictionary_AddAnotherFileLabel" />
	<add key="Dictionary_SendMessage" value= "Dictionary_SendMessage" />
	<add key="Dictionary_ProductSkuLabel" value= "Dictionary_ProductSkuLabel" />
	<add key="Dictionary_SymmonsMailAddress" value= "Dictionary_SymmonsMailAddress" />
	<add key="Dictionary_ContactUsError" value= "Dictionary_ContactUsError" />
	<add key="Dictionary_SymmonsPreferred" value= "Dictionary_SymmonsPreferred" />
	<add key="Dictionary_SymmonsPreferredDescription" value= "Dictionary_SymmonsPreferredDescription" />
	<add key="Dictionary_ContactUsDesignStudioText" value="Dictionary_ContactUsDesignStudioText"/>


	<!-- Folder Id -->

	<add key="Folder_ProductsBrowse" value="{A15067FD-F87B-479A-A4D9-10B348E6358E}"/>
	<add key="Folder_ProductsRepository" value="{FE967D82-B6D3-46F9-8C78-5D3D8D1F3EDC}"/>
	<add key="Folder_ProductAttributesRepository" value="{9CF068B1-0388-4618-9756-9AC28D6C1DA5}"/>
	<add key="Folder_ProductSmartFeaturesRepository" value="{C0C6DC60-2FDC-4A06-AF67-61AD2D17E8CC}"/>
	<add key="Folder_StoresRepository" value="{13C60F1F-BE2A-44A8-A79A-B86E2CC348C5}"/>

	<!-- Field Names -->

	<add key="FieldName_PageTitle" value="Page Title"/>
	<add key="FieldName_MainContent" value="Main Content"/>
	<add key="FieldName_ProductName" value="Product Name"/>
	<add key="FieldName_ProductDescription" value="Teaser"/>
	<add key="FieldName_IsNew" value="Is New"/>
	<add key="FieldName_ListPrice" value="Price Min"/>
	<add key="FieldName_ProductStyles" value="Styles"/>
	<add key="FieldName_ProductFinishes" value="Product Finishes"/>
	<add key="FieldName_ProductSmartFeatures" value="Smart Features"/>
	<add key="FieldName_ProductModelNumber" value="Product Model Number"/>
	<add key="FieldName_ProductCollections" value="Collections"/>
	<add key="FieldName_ReferenceFilterItems" value="Reference Filter Items"/>
	<add key="FieldName_ProductSection" value="Product Section"/>
	<add key="FieldName_ProductSegment" value="Product Segment"/>
	<add key="FieldName_ProductAttributes" value="Special Attributes"/>
	<add key="FieldName_PriceMin" value="Price Min"/>
	<add key="FieldName_PriceMax" value="Price Max"/>
	<add key="FieldName_CanPrice" value="CAN Price"/>
	<add key="FieldName_PageImage" value="Page Image"/>
	<add key="FieldName_ProductStyle" value="Product Style"/>
	<add key="FieldName_ProductCollection" value="Product Collection"/>
	<add key="FieldName_ProductFamily" value="Product Family"/>
	<add key="FieldName_PriceRange" value="Price Range"/>
	<add key="FieldName_ProductCategory" value="Product Category"/>
	<add key="FieldName_ProductFilterFinish" value="Finish"/>
	<add key="FieldName_ProductLength" value="Length"/>
	<add key="FieldName_ProductWidth" value="Width"/>
	<add key="FieldName_ProductHeight" value="Height"/>
	<add key="FieldName_EventStartDate" value="Event Start Date"/>
	<add key="FieldName_NavigationTitle" value="Navigation Title"/>
	<add key="FieldName_CompareFilter" value="Compare Filter"/>
	<add key="FieldName_Name" value="Name"/>
	<add key="FieldName_Icon" value="Icon"/>
	<add key="FieldName_SmallIcon" value="Small Icon"/>
	<add key="FieldName_ShowonNavigation" value="Show On Navigation"/>
	<add key="FieldName_StoreLatitude" value="Latitude"/>
	<add key="FieldName_StoreLongitude" value="Longitude"/>
	<add key="FieldName_StoreName" value="Store Name"/>
	<add key="FieldName_IsSymmonsPreferred" value="Is Symmons Preferred"/>
	<add key="FieldName_StorePhone" value="Phone"/>
	<add key="FieldName_StoreAddressLine1" value="Address 1"/>
	<add key="FieldName_StoreAddressLine2" value="Address 2"/>
	<add key="FieldName_StoreCity" value="City"/>
	<add key="FieldName_StoreState" value="State"/>
	<add key="FieldName_StoreZip" value="Zip"/>
	<add key="FieldName_StoreFax" value="Fax"/>
	<add key="FieldName_StoreEmail" value="Email"/>
	<add key="FieldName_StoreManager" value="Manager"/>
	<add key="FieldName_StoreUrl" value="URL"/>
	<add key="FieldName_Title" value="Title"/>
	<add key="FieldName_Description" value="Description"/>
	<add key="FieldName_LegacyProductStyle" value="Style"/>
	<add key="FieldName_LegacyUSPrice" value="US Price"/>
	<add key="FieldName_StateAbbreviation" value="Abbreviation"/>
	<add key="FieldName_StateName" value="State Name"/>
	<add key="FieldName_ExcludeFromSearch" value="Exclude From Search"/>

	<!-- Session Names -->
	<add key="Session_SearchFilterId" value="SearchFilter"/>
	<add key="Session_GalleryData" value="GalleryData"/>
	<add key="Session_GenericListingData" value="GenericListingData"/>
	<add key="Session_ApprovedProductsListingData" value="ApprovedProductsListingData"/>
	<add key="Session_MaxVideos" value="MaxVideos"/>
	<add key="Session_ProductDetailsModel" value="productDetailsModel"/>
	<add key="Session_ProductModel" value="productModel"/>
	<add key="Session_FeatureId" value="Feature"/>
	<add key="Session_CollectionId" value="Collection"/>
	<add key="Session_CategoryId" value="Category"/>
	<add key="Session_ProductFamily" value="ProductFamily"/>
	<add key="Session_ProductSegment" value="ProductSegment"/>
	<add key="Session_StyleId" value="ProductStyle"/>
	<add key="Session_ContentSearch" value="ContentSearch"/>
	<add key="Session_Keyword" value="Keyword"/>
	<add key="Session_SpecialAttributeId" value="SpecialAttribute"/>
	<add key="Session_FromSearchBox" value="FromSearchBox"/>
	<add key="Session_ProductResultCount" value="ProductResultCount"/>
	<add key="Session_IsFromCallout" value="IsFromCallout"/>
	<add key="Session_ContentSearchCount" value="ContentSearchCount"/>
	<add key="Session_SalesRepresentatives" value="SalesRepresentatives"/>


	<!-- Query String -->
	<add key="QueryString_SearchFilterId" value="filter"/>
	<add key="QueryString_CollectionId" value="collection"/>
	<add key="QueryString_CategoryId" value="category"/>
	<add key="QueryString_FamilyId" value="family"/>
	<add key="QueryString_FeatureId" value="feature"/>
	<add key="QueryString_StyleId" value="style"/>
	<add key="QueryString_SegmentId" value="segment"/>
	<add key="QueryString_Keyword" value="keyword"/>
	<add key="QueryString_ProductResultCount" value="productresultcount"/>
	<add key="QueryString_ContentResultCount" value="contentresultcount"/>
	<add key="QueryString_SpecialAttribute" value="attribute"/>
	<add key="QueryString_IsHybrid" value="ishybrid"/>
	<add key="QueryString_IsFromCallout" value="isFromCallout"/>

</appSettings>