<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <remove name="LocalMySqlServer" />
    <remove name="LocalSqlServer" />
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add connectionString="user id=S00732Symmons;password=b7gZvd4J;Data Source=HYPV8549-PROD.appliedi.net;Database=dev_symmons_com_06_Core" name="core" />
  <add connectionString="user id=S00732Symmons;password=b7gZvd4J;Data Source=HYPV8549-PROD.appliedi.net;Database=dev_symmons_com_06_Master" name="master" />
  <add connectionString="user id=S00732Symmons;password=b7gZvd4J;Data Source=HYPV8549-PROD.appliedi.net;Database=dev_symmons_com_06_Web" name="web" />
<add connectionString="user id=S00732Symmons;password=b7gZvd4J;Data Source=HYPV8549-PROD.appliedi.net;Database=dev_symmons_com_06_Custom" name="redirect" />
</connectionStrings>