<section class="pagination-content">
  <nav data-pager class="pagination" role="navigation">
    <button class="pagination__button" data-page="first">First</button>
    <button class="pagination__button" data-page="prev">Previous</button>
    <label class="pagination__pagenumber">
      Page
      <span class="pagination__input">1</span> of <span class="pagination__totalpages">3</span>
    </label>
    <button class="pagination__button" data-page="next">Next</button>
    <button class="pagination__button" data-page="last">Last</button>
  </nav>
</section>