<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"
           type="Sitecore.Forms.Mvc.Pipelines.AddCustomMetadataProvider, Sitecore.Forms.Mvc" />

        <processor type="Sitecore.Forms.Mvc.Pipelines.Routes.InitializeRoutes, Sitecore.Forms.Mvc"
          patch:after="*[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />

        <processor type="Sitecore.Forms.Mvc.Pipelines.RegisterValidationRulesEventsMap, Sitecore.Forms.Mvc" />

        <processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeGlobalFilters, Sitecore.Mvc']"
         type="Sitecore.Forms.Mvc.Pipelines.RegisterFormBundles, Sitecore.Forms.Mvc" />

        <processor type="Sitecore.Forms.Mvc.Pipelines.SetupRenderingContext, Sitecore.Forms.Mvc"/>               
      </initialize>  
    </pipelines> 
    
    <wffm>
      <formProcessors>
        <processor type="Sitecore.Forms.Mvc.Processors.SitecoreFormProcessor, Sitecore.Forms.Mvc"/>
      </formProcessors>
      
      <modelFactory type="Sitecore.Forms.Mvc.Data.ModelFactory, Sitecore.Forms.Mvc" singleInstance="true">
        <param name="renderingContext" ref="wffm/renderingContext"/>
      </modelFactory>
      
      <renderingContext type="Sitecore.Forms.Mvc.Data.Wrappers.WrappedRenderingContext, Sitecore.Forms.Mvc" singleInstance="true"/>
      
      <formDataManager type="Sitecore.Forms.Mvc.Data.FormDataManager, Sitecore.Forms.Mvc" singleInstance="true">
        <param name="processorFactory" ref="wffm/formProcessorsFactory"/>
      </formDataManager>
      
      <formProcessorsFactory type="Sitecore.Forms.Mvc.Data.SitecoreProcessorFactory, Sitecore.Forms.Mvc" singleInstance="true"/>
    </wffm>

    <settings>
      <setting name="WFM.Mvc.CacheOutputDuration" value="60" />
    </settings>
  </sitecore>
</configuration>
