<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- PIPELINES -->
    <pipelines>
      <initialize>
    <!--    <processor type="Sitecore.WFFM.Services.Pipelines.Initialize.RegisterHttpRoutes, Sitecore.WFFM.Services" />-->
        <processor type="Sitecore.WFFM.Services.Pipelines.Initialize.RegisterHttpControllerActivator, Sitecore.WFFM.Services" />
      </initialize>

      <exportToXml>
        <processor type="Sitecore.WFFM.Services.Pipelines.ExportToXml.ExportFormDataToXml, Sitecore.WFFM.Services" />
        <processor type="Sitecore.WFFM.Services.Pipelines.SaveContent, Sitecore.WFFM.Services" />
      </exportToXml>
      <exportToExcel>
        <processor type="Sitecore.WFFM.Services.Pipelines.ExportToExcel.ExportFormDataToExcel, Sitecore.WFFM.Services" />
        <processor type="Sitecore.WFFM.Services.Pipelines.SaveContent, Sitecore.WFFM.Services" />
      </exportToExcel>
      
    </pipelines>
    <!-- CONTROLLERS -->
    <controllers>
      <controller type="Sitecore.WFFM.Services.Requests.Controllers.FormReportsController,Sitecore.WFFM.Services">
        <param name="formsDataProvider" ref="wffm/formsDataProvider"/>
      </controller>
      <controller type="Sitecore.WFFM.Services.Requests.Controllers.ExportFormDataController,Sitecore.WFFM.Services">
        <param name="formsDataProvider" ref="wffm/formsDataProvider"/>
      </controller>
    </controllers>  
  </sitecore>
</configuration>
