<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="symmons_mediaitem_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/indexConfigurations/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexConfigurations/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/media library/Symmons</Root>
              </crawler>
            </locations>

            <configuration ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration">
              <indexAllFields>false</indexAllFields>
              <initializeOnAdd>true</initializeOnAdd>

				
				<include hint="list:IncludeField">
					<!--MediaItem Keyword-->
					<fieldId>{2FAFE7CB-2691-4800-8848-255EFA1D31AA}</fieldId>
				</include>
				<fieldMap ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldMap">
					<fieldNames hint="raw:AddFieldByFieldName">
						<field fieldName="Keywords"  storageType="YES" indexType="TOKENIZED"    vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider">
							<analyzer type="Sitecore.ContentSearch.LuceneProvider.Analyzers.LowerCaseKeywordAnalyzer, Sitecore.ContentSearch.LuceneProvider" />
						</field>
					</fieldNames>
				</fieldMap>


				<fields hint="raw:AddComputedIndexField">
                <field fieldName="_content" storageType="no" indexType="tokenized">
                  symmons.com._Classes.Symmons.Custom.MediaContentExtractor, symmons.com
                </field>
              </fields>

              <include hint="list:IncludeTemplate">
                <!--Media Documents-->
                <PdfTemplateId>{0603F166-35B8-469F-8123-E8D87BEDC171}</PdfTemplateId>
                <DocTemplateId>{16692733-9A61-45E6-B0D4-4C0C06F8DD3C}</DocTemplateId>
                <DocxTemplateId>{7BB0411F-50CD-4C21-AD8F-1FCDE7C3AFFE}</DocxTemplateId>
                <FileTemplateId>{962B53C4-F93B-4DF9-9821-415C867B8903}</FileTemplateId>
              </include>

            </configuration>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>