<!--

Purpose: This include file is to configure the custom Url Resolver Pipeline.
To enable this, rename this file so that it has a ".config" extension

-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <!--  EXCLUDED REDIRECTS
            Comma delimited urls that should be excluded from the domain redirect and ssl reirect
		        example: domain.com.verndale-dev.com,domain.com.verndale-staging.com
		        any other DNS that maps to the IP of this application will be redirected to "livePath" defined below
            
            IMPORTANT: it will automatically exclude livePath when checking to redirect for www or to livePath
            **SUPER IMPORTANT: if you include the livePath here, it will NOT perform an SSL redirect!!!  
            You must make sure to NOT include the livePath here if you want ssl redirects to work!
	    -->
      <setting name="Verndale.SitecoreModule.UrlResolver.ExcludedRedirects" value="symmons.com.2.0.verndale-staging.com,symmons.ca.2.0.verndale-staging.com,symmons.com.2.0.verndale-local.com,symmons.ca.2.0.verndale-local.com,cm.symmons.com.verndale-staging.com,cm.symmons.ca.verndale-staging.com,localhost" />

      <!--  FORCE WWW
            Comma delimited of non-www URLs that should be forced to www
		        example: domain.com,domain.jp,domain.fr
            
            IMPORTANT: The www version of these URLs 
            should be added to "Verndale.SitecoreModule.UrlResolver.ExcludedRedirects" 
            to avoid the redirect to the LIVE URL
	    -->
      <setting name="Verndale.SitecoreModule.UrlResolver.ForceWWW" value="symmons.ca,symmons.com,dev.symmons.com.mytempweb.net" />

    </settings>

    <sites>
      <!--livePath: The main URL for the domain redirect, set for each site, All other domain requests not specified in "livePath" will be redirected to this URL.-->
      <!--enableForceSSL: for use with Verndale URL Resolver for redirecting to https if 'Is SSL Secured' is turned on for a page-->
      <!--isSecureCheckType: for use with Verndale URL Resolver and what it should check to know if a page is current secure or not
			  options are : 'port', 'protocol', 'hostname', port checks 80/443, protocal checks http/https, hostname checks secure live path-->
      <!--forceAllPages will make every page on the site require https, regardless of what is set in the Is SSL Secured checkbox-->
      
<site name="website_ca">
        <patch:attribute name="livePath">http://www.symmons.ca</patch:attribute>
        <patch:attribute name="enableForceSSL">false</patch:attribute>
        <patch:attribute name="isSecureCheckType">port</patch:attribute>
        <patch:attribute name="sslLivePath">http://www.symmons.ca</patch:attribute>
        <patch:attribute name="forceAllPages">false</patch:attribute>
      </site>

      <site name="website">
        <patch:attribute name="livePath">http://dev.symmons.com.mytempweb.net</patch:attribute>
        <patch:attribute name="enableForceSSL">false</patch:attribute>
        <patch:attribute name="isSecureCheckType">port</patch:attribute>
        <patch:attribute name="sslLivePath">http://dev.symmons.com.mytempweb.net</patch:attribute>
        <patch:attribute name="forceAllPages">false</patch:attribute>
      </site>

     

    </sites>

    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.CustomHandlers, Sitecore.Kernel']" type="Verndale.SitecoreModule.UrlHelper.Pipelines.UrlResolver, Verndale.SitecoreModule.UrlHelper" />
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" type="Verndale.SitecoreModule.UrlHelper.Pipelines.SSLRedirector, Verndale.SitecoreModule.UrlHelper" />
      </httpRequestBegin>
    </pipelines>

  </sitecore>
</configuration>
