@using System

<div class="one-cols-wrapper">
    <div class="container">
        <div class="pr_write_review">
            <script type="text/javascript">
                var pr_style_sheet = "//cdn.powerreviews.com/aux/49448/616983/css/express.css";
            </script>
            <script type="text/javascript" src="//cdn.powerreviews.com/repos/49448/pr/pwr/engine/js/appLaunch.js"></script>
        </div>
    </div>
</div>