@using symmons.com.Areas.Symmons.Models.Pages.Temptrol
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<Temptrol>

@if (Model.ShowOnNavigation)
{
    <section class="primary-navigation__temptrol">
        <ul class="primary-navigation__temptrol--listing">
            <li class="primary-navigation__temptrol--item">
                <a href="#" class="primary-navigation__temptrol--link">
                    <div class="primary-navigation__temptrol--image">
                        <img src="/_images/contentManaged/temptrol-nav-01.jpg" alt="" />
                    </div>
                    <h3 class="primary-navigation__temptrol--headline">
                        <span>TEMPTROL<sup>&reg;</sup></span>Valve
                    </h3>
                    <p class="primary-navigation__temptrol--teaser">
                        Learn what makes the Temptrol Pressure balancing, anti-scald valve so unique.
                    </p>
                </a>
            </li>
            <li class="primary-navigation__temptrol--item">
                <a href="#" class="primary-navigation__temptrol--link">
                    <div class="primary-navigation__temptrol--image">
                        <img src="/_images/contentManaged/temptrol-nav-02.jpg" alt="" />
                    </div>
                    <h3 class="primary-navigation__temptrol--headline">
                        <span>THE ORIGINS<sup>&reg;</sup></span>COLLECTION
                    </h3>
                    <p class="primary-navigation__temptrol--teaser">
                        A transformation of the previous Temptrol Shower Trim. Learn more about this stylish and cost-efficient collection.
                    </p>
                </a>
            </li>
            <li class="primary-navigation__temptrol--item">
                <a href="#" class="primary-navigation__temptrol--link">
                    <div class="primary-navigation__temptrol--image">
                        <img src="/_images/contentManaged/temptrol-nav-03.jpg" alt="" />
                    </div>
                    <h3 class="primary-navigation__temptrol--headline">
                        <span>TEMPTROL<sup>&reg;</sup></span>commercial
                    </h3>
                    <p class="primary-navigation__temptrol--teaser">
                        The Temptrol Commercial Collection continues to be constructed of high quality, heavy duty materials. Learn more for your next project.
                    </p>
                </a>
            </li>
        </ul>
    </section>
}
