@using Sitecore.Globalization
@using symmons.com.Areas.Symmons.Models.Pages.Products
@using symmons.com._Classes.Symmons.Global
@using Constants = symmons.com._Classes.Shared.Global.Constants
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<IEnumerable<SuperCategory>>

@if (Model.Any(x => x.ShowOnNavigation))
{
    <section class="primary-navigation__commericial">
        <ul class="primary-navigation__commericial--listing">
            @foreach (var item in Model.Where(x => Guid.Parse(Constants.PageIds.PrimaryNavCustomSolutions) != x.Id).Take(4))
            {
                if ((Guid.Parse(Constants.PageIds.PrimaryNavCustomSolutions) != item.Id) && ((SymmonsHelper.IsValidImage(item.NavigationIcon)) || (!string.IsNullOrEmpty(item.NavigationTitle)) || (!string.IsNullOrEmpty(item.Teaser))))
                {
                    <li class="primary-navigation__commericial--item">
                        <a href="@item.Url" class="primary-navigation__commericial--link">
                            @if (SymmonsHelper.IsValidImage(item.NavigationIcon))
                            {
                                @RenderImage(item, x => x.NavigationIcon, new { @class = "primary-navigation__commericial--icon" }, true);
                            }
                            <h3 class="primary-navigation__commericial--headline">@Editable(item, x => x.NavigationTitle)</h3>
                            <p class="primary-navigation__commericial--teaser">@Editable(item, x => x.Teaser)</p>
                        </a>
                    </li>
                }
            }
        </ul>
    </section>
}
