/*TODO: remove lines 1-26
@font-face {
    font-family:'Gotham HTF';
    src: url('fonts/GothamHTF-Bold.eot');
	src: url('fonts/GothamHTF-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamHTF-Bold.woff2') format('woff2'),
		url('fonts/GothamHTF-Bold.woff') format('woff'),
		url('fonts/GothamHTF-Bold.svg#GothamHTF-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Gotham HTF';
    src: url('fonts/GothamHTF-Book.eot');
	src: url('fonts/GothamHTF-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/GothamHTF-Book.woff2') format('woff2'),
		url('fonts/GothamHTF-Book.woff') format('woff'),
		url('fonts/GothamHTF-Book.svg#GothamHTF-Book') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
body {
	font-family:'Gotham HTF';
}*/

.temptrol-banner .page-banner__content {
	width: 186px;
	height: 183px;
	top: auto;
	bottom: 20%;
}
.temptrol-banner .page-banner__titlecontent {
	background-color: transparent;
	padding: 0;
	border: none;
}
.additional-cols-wrapper--temptrol-valve.last {
	border: none;
	padding-bottom: 0;
}
.additional-cols-wrapper--temptrol-valve p {
	font-size: 0.875rem;
	line-height: 20px;
}
.additional-cols-wrapper--temptrol-valve .right-cols__image.has-border {
	border: 3px solid #eee;
	padding: 10px;
	position: relative;
}
.additional-cols-wrapper--temptrol-valve .right-cols__image img {
	margin: 0 auto;
	display: block;
}
.additional-cols-wrapper--temptrol-valve .inner {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.additional-cols-wrapper--temptrol-valve .inner.equal .right-cols,
.additional-cols-wrapper--temptrol-valve .inner.equal .left-cols  {
	width: 46.5%;
	padding: 0;
	float: left;
}
.additional-cols-wrapper--temptrol-valve .inner.medium .right-cols,
.additional-cols-wrapper--temptrol-valve .inner.medium .left-cols  {
	width: 48%;
	padding: 0;
	float: left;
}
.additional-cols-wrapper--temptrol-valve .inner.medium .right-cols,
.additional-cols-wrapper--temptrol-valve .inner.equal .right-cols {
	float: right;
}
.additional-cols-wrapper--temptrol-valve {
	margin-bottom: 25px;
}
.additional-cols-wrapper--temptrol-valve .inner.medium img {
	margin: 0;
	width: 100%;
}
.additional-cols-wrapper--temptrol-valve .inner.medium h2 {
	margin-bottom: 20px;
}
.additional-cols-wrapper--temptrol-valve .left-cols__image.is-full-width {
	margin-bottom: 25px;
}
.additional-cols-wrapper--temptrol-valve .left-cols__image.is-full-width img {
	width: 100%;
}
.additional-cols-wrapper--temptrol-valve .inner .right-cols__image.is-aligned img {
	width: 80%;
	display: block;
	margin: 0;
}
.additional-cols-wrapper--temptrol-valve .inner .left-cols__image.is-aligned img {
	width: 100%;
	display: block;
	margin: 0;
}
.additional-cols-wrapper--temptrol-valve .inner.medium .left-cols__image.is-aligned img {
	width: auto;
	display: block;
	margin: 0;
}
.additional-cols-wrapper--temptrol-valve .inner.medium .right-cols {
	padding-top: 40px;
}
.additional-cols-wrapper--temptrol-valve.last .inner.medium .right-cols {
	padding-top: 0;
}
.additional-cols-wrapper--temptrol-valve .inner.medium .linked-list__title {
	margin-bottom: 5px;
	display: block;
	font-size: 1rem;
}
.additional-cols-wrapper--temptrol-valve .features-list {
	padding: 0 0 0 16px;
	margin-bottom: 0;
}
.additional-cols-wrapper--temptrol-valve .features-list li {
	font-size: 0.875rem;
	line-height: 20px;
	padding-bottom: 12px;
}
.additional-cols-wrapper--temptrol-valve .features-list li:last-of-type {
	padding-bottom: 0;
}
.additional-cols-wrapper--temptrol-valve .features-list strong {
	display: block;
}
.additional-cols-wrapper--temptrol-valve .right-cols__content {
	margin-bottom: 25px;
}
.additional-cols-wrapper--temptrol-valve h4.right-cols__heading {
	color: #57ae55;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.additional-cols-wrapper--temptrol-valve h3.left-cols__heading {
	font-weight: normal;
	margin-bottom: 10px;
}
.additional-cols-wrapper--temptrol-valve h2.left-cols__heading,
.additional-cols-wrapper--temptrol-valve h2.right-cols__heading {
	margin-bottom: 10px;
	font-weight: normal;
}
.additional-cols-wrapper--temptrol-valve .green-text {
	color: #57ae55;
}
.additional-cols-wrapper--temptrol-valve .small {
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	font-style: italic;
}
.product-details__model_text {
    font-size: .700rem;
    font-style: normal;
    font-weight: 400;
    color: #b9b9b9;
    margin-bottom: 20px;
}
@media screen and (min-width: 1028px){
.product-details__wheretobuy {
    margin: 20px 0 0 !important;
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
	.additional-cols-wrapper--temptrol-valve .inner.equal .right-cols,
	.additional-cols-wrapper--temptrol-valve .inner.equal .left-cols,
	.additional-cols-wrapper--temptrol-valve .inner.medium .right-cols,
	.additional-cols-wrapper--temptrol-valve .inner.medium .left-cols {
		width: 100%;
		border: none;
	}
	.additional-cols-wrapper--temptrol-valve .inner .right-cols img,
	.additional-cols-wrapper--temptrol-valve .inner .left-cols img {
		width: auto !important;
		display: block !important;
		margin: 0 auto !important;
	}
	.studio-slider-wrap {
		width: 90%;
		margin: 0 auto;
	}
}
